<div class="jumbotron bg-white text-center">
    <h1 class="display-3">Corona Covid-19 Tracker</h1>
    <hr>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos et vel quidem 
        nobis dolores quam impedit odit error, 
        quas eos blanditiis molestiae mollitia nam dolorem ullam,
         accusantium debitis minus voluptatem?</p>
    <hr class="my-2">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Eveniet rerum maiores quasi ipsam reiciendis omnis eum at sint. 
        Reprehenderit nemo fugiat cupiditate alias? Molestias fuga magnam, 
        rerum reprehenderit eaque laborum?</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
    </p>
</div>